body {
	background: #f8f8f8;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: normal;
	margin: 15px;
}

h1, p {
  color: #333;
}

form, table {
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 5px 10px;
}

td, th {
	padding: 2px 6px;
	
}

label {
	width: 100px;
	display: inline-block;
}

input {
	border: 1px solid #ccc;
	padding: 5px 10px;
}

button {
	border: 1px solid #ccc;
	background-color: #fff;
	padding: 5px 10px;
}

.unicode-icon {
	font-size: 14pt;
	line-height: 0.5;
}

a.unicode-icon {
	cursor: pointer;
}